.headerimagestyle{
    width: 700px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 5px green;

}

#stream_box {
    margin-left: 20%;
    background-color: black;
    height: 400px;
    width: 50%;
    opacity: .6;

}

#stream_box h2 {
    margin: 5%;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 400px;
}

.center_this {
    margin: 0 auto;

}

.table-style{
    color: #fff;
    background: rgba(54, 25, 25, .75);
    width: 50%;
    margin: 0 auto;
}

.nav-style{
    margin-bottom:50px;
    display: flex;
    justify-content:space-around;
    list-style-type:none;
}

.header-style{
    color: yellow;
}

.title_image{
    position:relative;
    width:100%;
}

.site_title{
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    text-align: center;
    color:lightblue;
    font-size:5em;
}

h2{
    color: aquamarine;
}

body{
    background:url("../images/Destiny_Concept_Art_18b.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login_box{
    border: solid 5px green;
    color: purple;
    background-color:white;
    margin:50px;
    margin-right: 700px;
    padding-top:20px;
}

a:link{
    color: aquamarine;
}

a:visited{
    color: lightblue;
}

a:hover{
    color: yellow;
}

.post_message{
    padding: 5px;
    background-color: black;
    color:mediumaquamarine;
    margin-top:100px;
    margin-right: 300px;

/*    margin: 0 auto; */ /*supposed to work, doesn't work for this*/
}

.post_message h2{
    color:black;
}

.aqua-text{
    color: aqua;
}

.align-center{
    padding-top: 20px;
    padding-bottom: 20px;
}

.forum_header{
    width: 50%;
    margin: 0 auto;
}

footer{
    text-align: center;
    margin: 0 auto;
    color: #fff;
}